
*,
*::before,
*::after {
  box-sizing: border-box;
}

html * {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* Small Screen - Mobile first*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Large Screen - Desktop */
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}

input {
  margin-top: 2px;
}

/* when shrinking we do not want to stop at the default width */
input[type=text] {
  width: 100%;
}
/* make checkbox not blue */
input[type='checkbox'] { 
  filter: grayscale(1) 
}

.content {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  height: 100vh;
}

.labelend {
  flex: 1;
  text-align: right;
}

.state {
  background-color: red;
  border-radius: 12px;
  height: 24px;
}

.state.connected {
  background-color: green;
}

.state.connected.incoming {
  background-color: yellow;
}

.messagebox {
  flex: 1;
  padding-bottom: 10px;
}

.clear {
  float: right;
}

.row {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.row.hide {
  display: none;
}

.action {
  width: 120px;
  touch-action: manipulation; /* disable non-standard gestures such as double-tap to zoom */
}

fieldset {
  border-style: none;
  margin-top: -10px;
}

.flex-grow {
  flex: 1 0;
  display: flex;
}

.field {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.field.floatright {
  float: right;
}


.chip {
  display: inline-block;
  padding: 0 15px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 15px;
  background-color: #f1f1f1;
  margin: 5px 10px 0px 0px;
  position: relative; /* for tooltip */
}

.chip-x {
  padding-left: 10px;
  padding-top: 2px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.chip-x:hover {
  color: #000;
}

.chip-inline {
  display: inline-block;
  line-height: 2.5;
  padding: 0 5px;

}


.messages {
  border: 1px solid #000;
  margin: 10px;
  max-height: 300px;
  min-height: 300px;
  overflow-y: auto;
  padding: 5px;
}

.lastwill {
  background-color: beige;
  width: 100%;
}


.border {
  background-color: blanchedalmond;
  margin: 10px;
  padding: 5px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin: 10px 10px 0px 10px;
}

/* Style the buttons that are used to open the tab content */
.tab .tablinks {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab .tablinks:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab .tablinks.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  margin: 0px 10px 0px 10px; 
  height: 100%;
}
.tabcontent span {
  font-size: 16px;
}

.clear {

  font-size: 24px;
  float: right;
  border: none;
  cursor: pointer;
  margin: 9px;
  
}



#div-lastwill {
  background-color: aliceblue; 
  margin: 0px 10px 0px 10px; 
}

.last {
  background-color: aliceblue; 
}

.accordion {
  width: 100%;
  border: 1px  solid #767676;
  background-color: aliceblue;
  margin: 10px;
}

.accordion > button {
  cursor: pointer;
  padding: 2px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion > button .active, .accordion > button:hover {
  background-color: #ccc;
}

.accordion > button:after {
  content: '\25BC'; /* Unicode character for "plus" sign (+) */
  font-size: 16px;
  float: right;
  margin-left: 13px;
}

.accordion > button.active:after {
  content: "\25B2"; /* Unicode character for "minus" sign (-) */
}

.accordionx .active, .accordionx:hover {
  background-color: #ccc;
}

.accordionx:after {
  content: '\25BC'; /* Unicode character for "plus" sign (+) */
  font-size: 16px;
  float: right;
  margin-left: 13px;
}

.accordionx.active:after {
  content: "\25B2"; /* Unicode character for "minus" sign (-) */
}


.tooltip {
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.chip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;

  bottom: 100%;
  left: 50%;
  padding: 5px;
  margin-left: 15px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.chip:hover .tooltiptext {
  visibility: visible;
}



/*# sourceMappingURL=main.2794e3e2d9bf71c0886b.css.map*/