
*,
*::before,
*::after {
  box-sizing: border-box;
}

html * {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* Small Screen - Mobile first*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Large Screen - Desktop */
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}

.cont {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.messagebox {
  flex: 1;
  padding-bottom: 10px;
}



.row {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;    
  
}

.row.hide {
  display: none;
}

fieldset {
  border-style: none;
  margin-top: -10px;
}

.field {
  flex: 1 0;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.field.flags {
  flex-direction: row;
}

.chip {
  display: inline-block;
  padding: 0 15px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 15px;
  background-color: #f1f1f1;
  margin: 5px 10px 0px 0px;
}

.chip-x {
  padding-left: 10px;
  padding-top: 2px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.chip-x:hover {
  color: #000;
}

.chip-inline {
  display: inline-block;
  line-height: 2.5;
  padding: 0 5px;

}


.messages {
  border: 1px solid #000;
  margin: 10px;
  max-height: 300px;
  min-height: 300px;
  overflow-y: auto;
  padding: 5px;
}

.border {
  
  background-color: blanchedalmond;
  margin: 10px;
  padding: 5px;

}



/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin: 10px 10px 0px 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  margin: 0px 10px 0px 10px; 
  height: 100%;
}
.tabcontent span {
  font-size: 16px;
}




